package templates

templ head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Digital Dungeon Master</title>
		<script src="/static/htmx.min.js"></script>
		<link href="/static/app.css" rel="stylesheet"/>
		<link href="/static/bootstrap.min.css" rel="stylesheet"/>
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
	</head>
}
